<div id="footer" class="vcard">
  <h2 class="visuallyhidden">Contact Details</h2>
  <p class="nickname visuallyhidden" title="The nickname of Christian Vuerings">denbuzze</p>
  <ul>
    <li class="twitter"><a class="url ir" href="http://twitter.com/denbuzze" title="Visit Christian's twitter page">Twitter</a></li>
    <li class="github"><a class="url ir" href="http://github.com/christianv" title="Have a peek at Christian's github repositories">Github</a></li>
    <li class="linkedin"><a class="url ir" href="http://be.linkedin.com/in/christianvuerings" title="Concact Christian for business enquiries">LinkedIn</a></li>
  </ul>
</div>