<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Christian Vuerings">
  <meta name="description" content="Random thought from Christian Vuerings. He is a front-end developer, passionate sailor and sailing instructor.">
  <meta name="keywords" content="Christian Vuerings, denbuzze">

  <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/denbuzze">
  <link rel="stylesheet" type="text/css" href="/css/main.css" title="Main CSS">
  <link rel='stylesheet' type='text/css' href="http://fonts.googleapis.com/css?family=Cabin+Sketch:bold">
  <link rel="profile" href="http://microformats.org/profile/hcard">

  <title>{{ page.title }} &raquo; Christian Vuerings</title>
</head>
<body>

  <div class="vcard">
    <h2 class="visuallyhidden">Contact Details</h2>
    <a class="fn pic ir" href="/" title="Return to the home page">Christian Vuerings</a>
    <p class="nickname visuallyhidden" title="The nickname of Christian Vuerings">denbuzze</p>
    <ul>
      <li><a class="url twitter ir" href="http://twitter.com/denbuzze" title="Visit his twitter page">Twitter</a></li>
      <li><a class="url github ir" href="http://github.com/christianv" title="Have a peek at his github repositories">Github</a></li>
      <li><a class="url linkedin ir" href="http://be.linkedin.com/in/christianvuerings" title="Concact Christian for business enquiries">LinkedIn</a></li>
    </ul>
  </div>

  <div class="content">
    <h2 class="visuallyhidden">Blog Posts</h2>
    {{ content }}
  </div>

  <script>
    var _gaq=[["_setAccount","UA-190225-7"],["_trackPageview"]];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=("https:"==location.protocol?"//ssl":"//www")+".google-analytics.com/ga.js";
    s.parentNode.insertBefore(g,s)}(document,"script"));
  </script>

</body>
</html>