<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Christian Vuerings">
  <meta name="description" content="Random thoughts from Christian Vuerings. He is a front-end developer, passionate sailor and sailing instructor.">
  <meta name="keywords" content="Christian Vuerings, denbuzze, JavaScript, HTML, CSS, jQuery">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="alternate" type="application/rss+xml" href="http://feeds.feedburner.com/denbuzze">
  <link rel="stylesheet" type="text/css" href="/css/main.css" title="Main CSS">
  <link rel="profile" href="http://microformats.org/profile/hcard">

  <title>{{ page.title }} &raquo; Christian Vuerings</title>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="js/libs/jquery-1.6.1.min.js">\x3C/script>')</script>
</head>
<body>

  {% include header.html %}

  <div class="content">
    {{ content }}
  </div>

  {% include footer.html %}

  <script>
    var _gaq=[['_setAccount','UA-190225-7'],['_trackPageview'],['_trackPageLoadTime']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>

</body>
</html>